spring:
  application:
    name: task-management-api

  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=TaskManagementDB;encrypt=false
    username: sa
    password: 123
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect

  springdoc:
    api-docs:
      path: /api-docs
    swagger-ui:
      path: /swagger-ui.html
      operations-sorter: alpha
      tags-sorter: alpha
    # New in SB 4.0: Improved support for versioned APIs
    show-actuator: true